@using GioiThieuSanPham.Models
@model GioiThieuSanPham.Models.Product
@{
    ViewBag.Title = "Product Info";
    Layout = "~/Views/Shared/layout.cshtml";
    QuanLySanPhamEntities db = new QuanLySanPhamEntities();
    Manufacturer manufacturer = db.Manufacturers.Find(Model.ManufacturerID);
}

@if (Model == null)
{
    <div class="center_title_bar">Product is not exist</div>
}
else
{
    <div class="center_content">
        <div class="center_title_bar">@Model.ProductName</div>
        <div class="prod_box_big">
            <div class="center_prod_box_big">
                <div class="product_img_big">
                    <a href="javascript:popImage('images/big_pic.jpg','Some Title')" title="header=[Zoom] body=[&nbsp;] fade=[on]"><img src="~/Theme/images/p3.jpg" alt="" border="0"></a>
                    <div class="thumbs"> <a href="~/Product/ProductInfo" title="header=[Thumb1] body=[&nbsp;] fade=[on]"><img src="images/thumb1.jpg" alt="" border="0"></a> <a href="~/Product/ProductInfo" title="header=[Thumb2] body=[&nbsp;] fade=[on]"><img src="images/thumb2.jpg" alt="" border="0"></a> <a href="~/Product/ProductInfo" title="header=[Thumb3] body=[&nbsp;] fade=[on]"><img src="images/thumb1.jpg" alt="" border="0"></a> </div>
                </div>
                <div class="details_big_box">
                    <div class="product_title_big">@Model.ProductName</div>
                    <div class="specifications">
                        Manufacturer :

                        @if (manufacturer != null)
                        {
                            <span class="blue">@manufacturer.ManufacturerName</span>
                        }
                        <br>
                        Information :<span class="blue">@Model.Summary</span><br>
                    </div>
                    <div class="prod_price_big">
                        <span class="reduce">@string.Format("{0:#,0}", Model.OldPrice)đ</span>
                        <span class="price">@string.Format("{0:#,0}", Model.NewPrice)đ</span>
                    </div>
                    <a href="~/Product/Update?id=@Model.ID" class="prod_buy">Update</a>
                </div>
            </div>
        </div>
    </div>
}



