
@{
    ViewBag.Title = "Product Info";
    Layout = "~/Views/Shared/layout.cshtml";
    int id = ViewBag.id;

    var Product = new GioiThieuSanPham.Models.ProductModel().Information(id);
}

@if (Product == null)
{
    <div class="center_title_bar">Product is not exist</div>
}
else
{
    <div class="center_content">
        <div class="center_title_bar">@Product.Productname</div>
        <div class="prod_box_big">
            <div class="center_prod_box_big">
                <div class="product_img_big">
                    <a href="javascript:popImage('images/big_pic.jpg','Some Title')" title="header=[Zoom] body=[&nbsp;] fade=[on]"><img src="~/Theme/images/p3.jpg" alt="" border="0"></a>
                    <div class="thumbs"> <a href="~/Product/ProductInfo" title="header=[Thumb1] body=[&nbsp;] fade=[on]"><img src="images/thumb1.jpg" alt="" border="0"></a> <a href="~/Product/ProductInfo" title="header=[Thumb2] body=[&nbsp;] fade=[on]"><img src="images/thumb2.jpg" alt="" border="0"></a> <a href="~/Product/ProductInfo" title="header=[Thumb3] body=[&nbsp;] fade=[on]"><img src="images/thumb1.jpg" alt="" border="0"></a> </div>
                </div>
                <div class="details_big_box">
                    <div class="product_title_big">@Product.Productname</div>
                    <div class="specifications">
                        Warranties: <span class="blue">@Product.Warranty months</span><br>
                        Manufacturer :<span class="blue"> @Product.Manufacturer</span><br>
                        Information :<span class="blue">@Product.SummaryInfo </span><br>
                    </div>
                    <div class="prod_price_big"><span class="reduce">@string.Format("{0:#,0}", Product.OldPrice)đ</span> <span class="price">@string.Format("{0:#,0}", Product.NewPrice)đ</span></div>
                    <a href="~/Product/ProductInfo" class="prod_buy">add to cart</a>
                </div>
            </div>
        </div>
    </div>
}



